In [1]:
import pandas as pd

In [3]:
df_data = pd.read_excel('../data/iso_standard_table_selection.xlsx').fillna(0)
df_data.head()

,title,category,variable_name,type,question_primary,question_secondary
0,Personal Data,patientID_basics,name,str,What is your name?,0
1,Personal Data,patientID_basics,birth_date,str,When were you born (Date of Birth)?,0
2,Personal Data,patientID_basics,identity_number,str,Do you have any identification numbers (Nation...,0
3,Personal Data,patientID_basics,adress,obj,Where do you live (Address)?,0
4,Personal Data,patientID_basics,gender,int,What is your gender?,0

In [5]:
df_data_csv = pd.read_csv('../data/iso_standard_health_selection.csv')
df_data_csv.head()

,title,subtitle,category,variable_name,type,question_primary,question_secondary,widget_type
0,Basic Personal Data,Basic Info Collector,patientID_basics,birth_date,str,Date of birth,0,date_input
1,Basic Personal Data,Basic Info Collector,patientID_basics,gender,int,Gender identity,0,selectbox
2,Basic Personal Data,Basic Info Collector,patientID_basics,city_living,obj,Location,0,selectbox
3,Detailed Personal Data,Detailed Info Collector,patientID_basics,city_born,str,Location of birth,0,selectbox
4,Detailed Personal Data,Detailed Info Collector,patientID_basics,ethnicity_group,str,Ethnicity group,0,text_input

In [7]:
df_data_csv['value'] = None
df_data_csv.head()

,title,subtitle,category,variable_name,type,question_primary,question_secondary,widget_type,value
0,Basic Personal Data,Basic Info Collector,patientID_basics,birth_date,str,Date of birth,0,date_input,None
1,Basic Personal Data,Basic Info Collector,patientID_basics,gender,int,Gender identity,0,selectbox,None
2,Basic Personal Data,Basic Info Collector,patientID_basics,city_living,obj,Location,0,selectbox,None
3,Detailed Personal Data,Detailed Info Collector,patientID_basics,city_born,str,Location of birth,0,selectbox,None
4,Detailed Personal Data,Detailed Info Collector,patientID_basics,ethnicity_group,str,Ethnicity group,0,text_input,None

In [9]:
df_vaiables = df_data_csv[['variable_name', 'value']]
df_vaiables

                  variable_name value
0                    birth_date  None
1                        gender  None
2                   city_living  None
3                     city_born  None
4               ethnicity_group  None
5              primary_language  None
6                    occupation  None
7           cronical_conditions  None
8      data_cronical_conditions  None
9                    allgergies  None
10               data_allergies  None
11            current_diagnoses  None
12               data_diagnosis  None
13           current_medication  None
14              data_medication  None
15           current_treatments  None
16              current_doctors  None
17              past_conditions  None
18         data_past_conditions  None
19             surgical_history  None
20        data_surgical_history  None
21       family_medical_history  None
22          data_family_history  None
23            emergency_contact  None
24              emergency_phone  None
25            emergency_allerts  None
26      health_provider_primary  None
27      medical_records_storage  None
28                wearable_data  None
29                tracking_data  None
30                     log_data  None
31                prescriptions  None
32  radiology_pathology_reports  None
33              genetic_reports  None
34                  lab_reports  None
35               images_reports  None
36                other_reports  None

In [10]:
df_vaiables.to_csv('data/meal_databas.csv', index=False)